<div class="grid_2"><h1>xui 2.0.0</h1></div>
<div class="grid_8">
    <h2>downloads</h2>
    <h3>webkit, firefox, opera (has querySelectorAll)</h3>
    <ul>
        <li><a href="/downloads/xui-2.0.0.js">with comments 36kb</a></li>
        <li><a href="/downloads/xui-2.0.0.min.js">minified 13kb</a></li>
    </ul>
    <h3>blackberry mobile (>= 4.6)</h3>
    <ul>
        <li><a href="/downloads/xui-bb-2.0.0.js">with comments 62kb</a></li>
        <li><a href="/downloads/xui-bb-2.0.0.min.js">minified 30kb</a></li>
    </ul>
    <h3>ie mobile (>= 6)</h3>
    <ul>
        <li><a href="/downloads/xui-ie-2.0.0.js">with comments 62kb</a></li>
        <li><a href="/downloads/xui-ie-2.0.0.min.js">minified 30kb</a></li>
    </ul>
</div>

    
