<div class="grid_2"><h1>xui 2.0.0</h1></div>
<div class="grid_8">
    <h2>Downloads</h2>
    <h3>WebKit / FireFox / Opera (i.e. has <code>querySelectorAll</code>)</h3>
    <ul>
        <li><a href="/downloads/xui-2.0.0.js">Commented 36kb</a></li>
        <li><a href="/downloads/xui-2.0.0.min.js">Minified 13kb</a></li>
    </ul>
    <h3>BlackBerry Mobile (>= 4.6)</h3>
    <ul>
        <li><a href="/downloads/xui-bb-2.0.0.js">Commented 62kb</a></li>
        <li><a href="/downloads/xui-bb-2.0.0.min.js">Minified 30kb</a></li>
    </ul>
    <h3>IE Mobile (>= 6)</h3>
    <ul>
        <li><a href="/downloads/xui-ie-2.0.0.js">Commented 62kb</a></li>
        <li><a href="/downloads/xui-ie-2.0.0.min.js">Minified 30kb</a></li>
    </ul>
</div>
