<div class="grid_2">
	<h1>about</h1>
</div>

<div class="grid_10"> 
    <p>A super micro tiny DOM framework for authoring mobile web applications. Proven across thousands of apps in stores and on the open web. Everything you need to author a mobile web applications and <em>nothing you don't</em>. XUI is the minimum framework you need to build a modern HTML5 mobile web application that gracefully degrades to older devices. And because the footprint is so small that means faster loading times, quicker initialization and more room for your app logic.</p> 
</div>

<div class="grid_2">
	<h1>features</h1>
</div>

<div class="grid_10"> 
    <ul class="no-indent">
        <li>Clean and familiar chaining syntax.</li>
        <li>Super tiny footprint at 13kb.</li>
        <li>The only framework with targetted builds for WebKit, IE Mobile and BlackBerry.</li>
        <li>MIT Licensed.</li>
    </ul>
</div>

<div class="grid_2">
	<h1>why</h1>
</div>

<div class="grid_10">
    <p>XUI was born in 2008 while the popular <a href="http://phonegap.com">PhoneGap</a> framework was being developed out of neccessity for a solid DOM framework that understood the latency and initialization characteristics of the mobile web. Today most frameworks are still catching up to the mobile revolution, tacking on compatability as an afterthought and, often, only for iOS. XUI is the smallest framework that works across all the devices in the mobile landscape and it does not try and dictate a page structure or widget paradigm. Most mobile applications consist of linked lists and buttons which, we feel, HTML does a fine job of rendering with a little CSS.    
    </p>
</div>
