<div class="grid_2">
	<h1>about</h1>
</div>

<div class="grid_8 suffix_2">
    <p>A super micro tiny DOM library for authoring HTML5 mobile web applications.</p>
</div>

<div class="clear">&nbsp;</div>

<div class="prefix_2 grid_6 suffix_4">
<pre>
// a trivial example
x$('#btn').click( function (e) {
    x$('#msg').html('Thanks for your submission!');
})
</pre>
</div>
<div class="grid_2">
	<h1>features</h1>
</div>

<div class="grid_10"> 
    <ul class="no-indent">
        <li>Clean, familiar, chaining syntax.</li>
        <li>Super tiny <strong>9.4kb</strong> footprint <small>(<strong>not</strong> gzipped)</small> <em><strong>4.1kb</strong> gzipped</em>.</li>
        <li>Only library with targeted builds for WebKit, IE Mobile, and BlackBerry.</li>
        <li><a href="/license">MIT Licensed</a>.</li>
    </ul>
</div>

<div class="clear">&nbsp;</div>

<div class="grid_2">
	<h1>why</h1>
</div>

<div class="grid_10">
    <p>XUI was born in 2008 while the popular <a href="http://phonegap.com">PhoneGap</a> framework was being developed. It was created out of necessity for a solid DOM framework that understood the latency and initialization characteristics of the mobile web. Today most frameworks are still catching up to the mobile revolution, tacking on compatibility as an afterthought and, often, only for iOS.</p>
    <p>XUI is the smallest framework that works across all of the devices in the mobile landscape. It does not try and dictate a page structure or widget paradigm. Instead, it uses the DOM and since most mobile applications consist of lists and buttons, we feel, HTML and CSS do a fine job of rendering.
    </p>
</div>

<div class="clear">&nbsp;</div>

<div class="grid_2">
	<h1>alternatives</h1>
</div>

<div class="grid_10">
    <p>Mobile Web development is heating up fast! If xui isn't enough for you, then check out:</p>
    <ul>
        <li><a href="http://jqtouch.com">jQTouch</a></li>
        <li><a href="http://joapp.com">Jo</a></li>
        <li><a href="http://sencha.com">Sencha Touch</a></li>
        <li><a href="http://jquerymobile.com">jQuery Mobile</a></li>
        <li><a href="http://zeptojs.com">Zepto</a></li>
    </ul>
</div>
