<div class="grid_2"><h4>about</h4></div>

<div class="grid_10"> 
    <p>A super micro tiny DOM framework for authoring mobile web applications. Proven across thousands of apps in stores and on the open web. Everything you need to author a mobile web applications and <em>nothing you don't</em>.</p> 
</div>

<div class="grid_2"><h4>features</h4></div>

<div class="grid_10"> 
    <ul>
        <li>Clean and familiar chaining syntax.</li>
        <li>Super tiny footprint under 10kb.</li>
        <li>The only framework with targetted builds for WebKit, IE Mobile and BlackBerry.</li>
        <li>MIT Licensed.</li>
    </ul>
</div>

<div class="grid_2"><h4>why</h4></div>

<div class="grid_10">
    <p>We hear your words. Why another JavaScript framework?! When development of PhoneGap was under way we noticed slow load times for modern JavaScript frameworks (such as Prototype, MooTools, YUI, Ext and (yes) even jQuery. A big reason why these libraries are so big is because is mostly they contain a great deal of cross browser compatibility code. The mobile space has less browser implementations (so far) and different needs. Thus XUI.)</p>
</div>
