<div class="grid_2"><h1>xui __VERSION__</h1></div>
<div class="grid_8">
    <h2>Tests</h2>
    <h3>WebKit / FireFox / Opera (i.e. has <code>querySelectorAll</code>)</h3>
    <ul>
        <li><a href="/tests/tests/index.html">run</a></li>
    </ul>
    <h3>BlackBerry Mobile (>= 4.6)</h3>
    <ul>
        <li><a href="/tests/tests/index-bb.html">run</a></li>
    </ul>
    <h3>IE Mobile (>= 6)</h3>
    <ul>
        <li><a href="/tests/tests/index-ie.html">run</a></li>
    </ul>
</div>
